In [11]:
import glob
import pandas as pd

files = sorted(glob.glob(r"C:\Users\hp\OneDrive\Desktop\Python\Machine Learning\project\data\UNSW-NB15_*.csv"))
col_names = pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Python\Machine Learning\project\data\NUSW-NB15_features.csv", header=None, encoding='latin1')
col_names = col_names.iloc[:,1].tolist()
df = pd.concat([pd.read_csv(f, names=col_names, header=None) for f in files], ignore_index=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_11088\2288932797.py:7: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f, names=col_names, header=None) for f in files], ignore_index=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11088\2288932797.py:7: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f, names=col_names, header=None) for f in files], ignore_index=True)

In [12]:
df.head()

,Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,3,7,1,3,1,1,1,NaN,0,NaN
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,2,4,2,3,1,1,2,NaN,0,NaN
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,12,8,1,2,2,1,1,NaN,0,NaN
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,6,9,1,1,1,1,1,NaN,0,NaN
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,7,9,1,1,1,1,1,NaN,0,NaN